@import _reset
@import _fonts
@import _colors-fonts
@import _mixins
@import _general

// general
.title
	font: 3rem/1  $font
	color: white
	&.black
		color: $black

.btn
	display: block
	font: 1rem/1 $font
	text-transform: uppercase
	text-align: center
	color: white
	padding: 12px
	background: $btn
	border: none
	position: relative
	z-index: 99
	&:hover
		background: $accent

section,
header,
footer
	width: 100%



header 
	padding: 27px 0
	position: relative
	z-index: 1
	.header__container
		width: 1500px
		margin: 0 auto
		display: flex
		justify-content: space-between
	.logo
		display: block
		margin-bottom: -80px
		svg
			width: 150px
			height: 150px
	.header__info
		display: flex
		flex-direction: column
		justify-content: center
		.header__text1
			font: 300 .9rem/1.25 $font
			color: $grey3
			padding-left: 30px
			margin-bottom: 15px
			position: relative
			b
				font-weight: bold
			svg
				display: block
				position: absolute
				left: 0
				top: calc(50% - 10px)
			&.bottom
				margin-bottom: 0
	.header__order
		display: flex
		justify-content: space-between
		align-items: center
		background: #F6F6F6
		border-radius: 6px
		padding: 15px 18px
		.header__phone
			font: 600 1.3rem/1.87 $font
			text-decoration: none
			color: $green
			padding-left: 25px
			margin-right: 10px
			position: relative
			svg 
				position: absolute
				top: calc(50% - 10px)
				left: 0
			&:hover
				color: $greenH
		.header__btn
			display: block
			padding: 13px 28px
			background: $green
			border: none
			border-radius: 6px
			font: bold .8rem/1.25 $font
			text-transform: uppercase
			letter-spacing: 1.5px
			color: white
			&:hover
				background: $greenH
	.header__social
		.header__text2
			font: bold .9rem/1.25 $font
			color: $grey3
			margin-bottom: 8px
		.header__social-list
			display: flex
			align-items: center
			justify-content: space-between
			li
				margin-right: 8px
				&:last-child
					margin-right: 0px
				a
					display: flex
					justify-content: space-between
					align-items: center
					font: 300 .9rem/1.25 $font
					text-decoration: none
					color: $grey3
					// text-shadow: 5px 3px 1px rgba(0,0,0,.2)
					&:hover
						color: $green
					svg
						display: block
						margin-right: 6px
	.header__lang
		width: 43px
		box-sizing: border-box
		background: $grey6
		border-radius: 6px
		overflow: hidden
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		flex-wrap: wrap
		.header__btn-lang
			height: 50%
			width: 100%
			box-sizing: border-box
			background: transparent
			border: none
			font: bold .9rem/1.25 $font
			text-align: center
			color: $grey5
			&:first-child
				border-top: 1px solid $grey6
				border-bottom: 1px solid #E0E0E0
			&:last-child
				border-top: 1px solid white
				border-bottom: 1px solid $grey6
			&.active
				color: $grey3
			&:hover
				background: $yellow
				color: black
				border-top: 1px solid $yellow
				border-bottom: 1px solid $yellow


#first
	background: url(../img/first__bg.jpg) no-repeat center center/cover
	min-height: 100vh
	.first__title
		display: flex
		justify-content: space-between
		align-items: center



#eggs
	.eggs__list
		svg
		.eggs__text1
	.eggs__text2
		img




#food
	.title
	.food__set
		.food__text1
		.food__img
		.food__text2
		.food__cont
			.food__kkal
			.food__price
		.food__text1
		.food__details
			.food__item
		.food__about
			.food__subtitle b
			.food__txt1
		.food__prices
			.food__subtitle.black b
			.food__days
			.food__cost
			.food__fullprice
				.food__2price span
				.food__price-for-one 
					span
			button
		.food__products 
			.first
			.food__txt2 span
			.food__calendar
			.food__text2 span
			.food__dish
			.food__text2 span
			.food__dish
			.food__text2 span
			.food__dish
			.food__text2 span
			.food__dish
			.food__text2 span
			.food__dish
			.food__detox 
			.foot__bootle 
			.food__text3




#steps
	.title
	.steps__step 
	.steps__icon 
	.steps__text1 
		span




#stars
	#stars__slider
	.stars__slide
	.stars__ava
	.stars__cont
	.stars__title
	.stars__text1 br
		b
	.stars__slide 
		.stars__ava 
			.stars__cont
	.stars__title
	.stars__text1




#deliv
	.title
	.deliv__cont
		svg
	.deliv__text1
		span
	.deliv__cont
	.deliv__text1
		span
		svg


#deliv 
	.deliv__cont 
	.deliv__countcont 
	.deliv__img
	.deliv__countcont-in
		.deliv__text2
		.deliv__counter
		.deliv__text2
			&.second



#rev
	.title
	.rev__slider 
		.rev__item 
			.rev__ava
			.rev__fb
			.rev__proffesion
			.rev__name
			.rev__descr



#team
	.title
	.team__text1
	.team__cert
		
footer
	ul
		a



























 
// sections end

#owl_slider
	position: relative
	z-index: 2
	&.owl-carousel
		.owl-stage-outer 
			width: 100%
		.owl-nav
			display: block
			width: 100%
			background: green
			position: absolute
			top: calc(50% - 19px)
			display: flex
			justify-content: space-between
			pointer-events: none 
			.owl-prev,
			.owl-next
				position: relative
				width: 38px
				height: 38px
				padding: 5px 12px
				border: 1px solid black
				pointer-events: auto
				&:hover,
				&:focus
					outline: none
					border: 1px solid $accent
		.owl-item
			color: red
			padding: 20px
			background: blue


.countdown
	display: flex
	justify-content: center
	.number-wrapper
		display: block
		width: 30%
		position: relative
		&.last:after
			display: none
		&.end
			width: 100%
			&:after
				display: none
		&:after
			content: ":"
			position: absolute
			top: -3px
			right: -10px
			font: 800 3rem/1 $font
			color: black
		.number
			display: block
			font: 800 3rem/1 $font
			text-align: center
			color: black
		.caption
			display: none


#thy
	width: 100%
	height: auto
	overflow: hidden
	background: #212121
	min-height: 100vh
	padding-top: 90px
	position: relative
	z-index: 2
	.title
		font: 800 2rem/1 $font
		margin-bottom: 20px
		color: white
	.thy__text1
		font: 300 1.8rem/1.25 $font
		color: white
		margin-bottom: 30px
	.thy__cont
		display: inline-block
		width: 100%
		width: auto
		max-width: 100%
		padding: 25px 22px
		background: red
		.thy__text2
			font: 500 .87rem/1.25 $font
			color: white
			margin-bottom: 10px
		.thy__text3
			font: italic 500 .87rem/1.25 $font
			color: rgba(255,255,255,.5)


.modal
	.modal-content
		border-radius: 0px
		padding: 0%
		margin-top: 25%
		position: relative
		z-index: 9999
	.modal-body
		.close
			display: block
			width: 35px
			height: 35px
			border-radius: 50%
			background: transparent
			position: absolute
			right: -3%
			top: -40px
			font: 2.5rem/0  $font
			color: black
			border: none
			opacity: .6
			&:hover
				opacitY: 1


@media (max-width: 1200.98px)
	color: red

// md
@media (max-width: 992.98px)
	color: red

// sm
@media (max-width: 768.98px)
	color: red

// xs
@media (max-width: 576.98px)
	color: red