
@font-face {
  font-family: 'NautilusPompilius';
  src: url('NautilusPompilius.eot?#iefix') format('embedded-opentype'),  url('NautilusPompilius.otf')  format('opentype'),
	     url('NautilusPompilius.woff') format('woff'), url('NautilusPompilius.ttf')  format('truetype'), url('NautilusPompilius.svg#NautilusPompilius') format('svg');
  font-weight: normal;
  font-style: normal;
}
